ul {
  list-style: none;
}

.button-search {
  background: #1a64d6;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid #1a64d6;
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgb(0, 0, 0, 0.3);
  padding: 3px 10px;
}
.container {
  margin: 0 auto;
}
.mid-section {
  border: solid #5e5b5b;
  border-radius: 5px;
  border-width: 1px;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.day-description {
  margin-bottom: 0px;
  padding: 0;
}

.source-code {
  padding: 0 373px;
}

.emoji {
  font-size: 72px;
  padding: 0;
  margin: 0;
}

.temperature {
  font-size: 64px;
}

.units {
  font-size: 17px;
  position: relative;
  top: -30px;
}

.parameters {
  margin: 30px;
}
