ul {
  list-style: none;
}

.active {
  text-decoration: none;
}

.button-search {
  background: #1a64d6;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid #1a64d6;
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgb(0, 0, 0, 0.3);
  padding: 3px 10px;
}
.container {
  margin: 0 auto;
}
.mid-section {
  border: solid #5e5b5b;
  border-radius: 5px;
  border-width: 1px;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.day-description {
  margin-bottom: 0px;
  padding: 0;
}

.source-code {
  padding: 0 373px;
}

.units {
  font-size: 17px;
  position: relative;
  top: -25px;
}

.parameters {
  margin-left: 30px;
  margin-top: 15px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

#icon {
  font-size: 50px;
  padding: 0;
  margin-top: -30px;
}

#code {
  text-decoration: none;
}

#temperature {
  font-size: 50px;
  margin-left: 3px;
}
